{{template "base" .}}

{{define "main"}}
<h2>Help</h2>

<h3>Is any reservation data stored by pnr.sh when using this tool?</h3>
<p>No. (The hosting providers might store basic information for debugging/monitoring, like your IP address and when you visit.)</p>

<h3>What does "Coupons Appear To Cover Entire PNR" represent?</h3>
<p>When "Coupons Appear To Cover Entire PNR" is true, it means that the displayed ticket appears to cover at least all of the segments in the PNR. This is a <strong>very basic check</strong> as the full information of the ticket coupons is not available -- this only checks the flight time and origin/destination. If your ticket is in the wrong class of service, this cannot be detected.</p>
{{end}}